{% extends "base.html" %}

{% load bootstrap_toolkit %}

{% block "content" %}
<div class="span12">
    <h2>Log In</h2>
    <form action="{% url django.contrib.auth.views.login %}" method="post" class="form-horizontal">
        {% csrf_token %}
        <input type="hidden" name="next" value="{% if next %}{{ next }}{% else %}{% url gameshow.views.dashboard %}{% endif %}" />
        {{ form|as_bootstrap }}
        <div class="form-actions">
            <input type="submit" class="btn btn-primary" value="Log In">
        </div>
    </form>
</div>
{% endblock %}
