{% extends "base.html" %}

{% block "content" %}
<div class="object-detail">
    <h2>Login</h2>
    <form action="{% url django.contrib.auth.views.login %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{% if next %}{{ next }}{% else %}{% url gameshow.views.dashboard %}{% endif %}" />
        <table id="login-form">
            {{ form.as_table }}
            <tr>
                <td>&nbsp;</td>
                <td><input type="submit" value="Login" /></td>
            </tr>
        </table>
    </form>
</div>
{% endblock %}
