{% load admin_urls %}
{% load compress %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block "extra_title" %}{% endblock %}BigBrother</title>
        {% compress css %}
        <link rel="stylesheet" type="text/less" href="{{ STATIC_URL }}less/bootstrap.less">
        <link rel="stylesheet" type="text/less" href="{{ STATIC_URL }}less/base.less">
        {% endcompress %}
        {% compress js %}
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-dropdown.js"></script>
        <script type="text/coffeescript" src="{{ STATIC_URL }}js/common.coffee"></script>
        {% endcompress %}
        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-32491363-1']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>
        {% block "head" %}{% endblock %}
    </head>
    <body>
        <div class="container">
            <div class="navbar navbar-fixed-top">
                <div class="navbar-inner">
                    <div class="container">
                        {% if gameshow %}
                        <a class="brand" href="{% url "gameshow.views.dashboard" gameshow.slug %}">{{ gameshow.name }}</a>
                        {% else %}
                        <a class="brand" href="/">Big Brother</a>
                        {% endif %}
                        <ul class="nav">
                            <li><a href="{% url "gameshow.views.rules" %}">Rules</a></li>
                            {% if user.is_authenticated and gameshow %}
                            <li><a href="{% url "gameshow.views.points_detail" gameshow.slug %}">Points</a></li>
                            {% endif %}
                        </ul>
                        {% if user.is_authenticated %}
                        <ul class="nav pull-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    {{ user.first_name }} {{ user.last_name }}
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="{% url "django.contrib.auth.views.logout_then_login" %}">Logout</a></li>
                                    <li><a href="{% url "django.contrib.auth.views.password_change" %}">Change password</a></li>
                                    {% if user.is_staff %}
                                    <li><a href="{% url "admin:index" %}">Admin</a></li>
                                    {% endif %}
                                </ul>
                            </li>
                        </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% include "messages.html" %}
            <div class="row">
                {% block "content" %}{% endblock %}
            </div>
        </div>
    </body>
</html>
