{% extends "base.html" %}

{% block "content" %}
<div class="span12">
    <h2>Rules</h2>
    <p>Welcome to the Big Brother 15 pool! Thanks for playing! The object of the game is to have the most points at the end of the Big Brother 15 season.</p>

    <p>You will earn points throughout the season by making correct predictions on Head of Household winners, nominations, veto winners and evictions.</p>

    <p>To play in this pool, you have to agree to no 24 hour internet feed, and no spoilers. This includes Facebook and Twitter updates whenever possible, as that provides an unfair advantage for predictions in some cases. If you happen to stumble across some information that would give you an advantage, please do not cheat. This is the honour system!</p>

    <p>For a correct Head of Household prediction, you will receive 20 points. You may pick one player who you believe will win HOH each week. HOH predictions must be made before the eviction/HOH episode every week, beginning with the second HOH competition. If an episode shows the beginning of an HOH competition without the outcome, the predictions will not open back up, as knowing the type of competition can provide an advantage to your prediction.</p>

    <p>For correct nomination predictions, you will receive 10 points. You may pick two players who you believe will be nominated for eviction, starting with the first nominations. It is possible to receive up to 20 points, one for each correct nomination, per week, beginning with the first week’s nominations. If one of your predictions becomes a replacement nominee following a POV competition, you will still receive the full 10 points for the prediction. Nomination predictions must be made before the nomination episode each week. If the HOH competition runs over into the nomination episode, everyone will be at the same disadvantage with that week’s predictions. Remember, no live feed or internet spoilers allowed, so don’t cheat!</p>    

    <p>For a correct Power of Veto winner prediction, you will receive 8 points. You may pick one player who you believe will win POV, beginning with the first POV competition. Remember when predicting the winner of POV that not all players get to participate in the POV competition. This means that you have to not only predict the winner, but also who you think will be playing. It is automatic that the two nominated houseguests and the current HOH will be playing in every POV competition. Power of Veto winner predictions must be in before the POV episode (the episode following nominations) every week.</p>

    <p>For a correct eviction prediction, you will receive 5 points. You may pick one player who you believe will be evicted, beginning with the first week’s eviction. You will have a 50/50 chance of getting the eviction guess correct. Your prediction for eviction must be in before the beginning of the eviction/HOH episode each week.</p>  

    <p>Predicting the winner will work just like predicting an eviction. Everyone will have a 50/50 shot at guessing the winner correctly. For a correct winner prediction, you will receive 50 points. You may choose one player who you believe will win Big Brother 15. Predictions for the winner of Big Brother 15 must be in before the beginning of the finale episode. There are also big points on the line if the winner of Big Brother 14 is a player that you have selected to play on your “team”.</p> 

    <p>You will go through the game with four Big Brother houseguests that you have selected to play as your “team”. Each time a member of your team wins HOH or wins the POV, you will receive half the number of points automatically that you would have received for a correct prediction. For example, your team has:</p>

    <ul>
        <li>Player 1</li>
        <li>Player 2</li>
        <li>Player 3</li>
        <li>Player 4</li>
    </ul>

    <p>You have predicted that Player 1 will win this week’s HOH.</p>

    <p>If Player 1 wins the HOH competition, you will receive the 20 points for a correct HOH prediction, plus another 10 points because the winner of the HOH competition is on your team.</p> 

    <p>OR</p>

    <p>You have predicted Player 3 will win HOH.</p>

    <p>If Player 1 wins, you will not receive the points for a correct HOH prediction, but you will still receive 10 points (half the value of a correct prediction) because the winner of the HOH competition is on your team.</p> 

    <p>You will not receive automatic points if a player on your team is nominated for eviction or is evicted. However, you can predict that someone on your team will be nominated or evicted, and if you are correct you will receive the corresponding points for a correct prediction.</p>  

    <p>You will have until after the second HOH competition of the season to finalize your team. You must have your team finalized going into the episode following the completion of the second HOH competition.</p>  

    <p>It is important that you pick the strongest four players for your team. The more competitions that are won by your team members, and the longer they stay in the game, the more points you will receive. If a player on your team wins Big Brother 15, you will receive an additional 50 points! This means that with a correct winner prediction and the winner on your team, you will end the season with an additional 100 points!</p>

    <p>The website will disable predictions corresponding with the start time of each episode. If you do not have your predictions in by then, you will not be able to make your predictions for that particular competition. You will be sent an automatic reminder email the day each prediction is due. Sorry, no exceptions. Don’t miss your prediction!</p> 

    <p>The website will also allow you to see your total points, and the total points of everyone else in the pool. If there is a points discrepancy, please contact Emily or Mark. In the event of a disagreement over points, the website administrator (Mark) will have the final say. If there are any concerns, questions or technical difficulties with the website, please contact Mark at <a href="mailto:mstriemer@gmail.com">mstriemer@gmail.com</a>. If a technical glitch in the site prevents you from making your predictions on time, accommodations will be made.</p>

    <p>Remember; the motto of Big Brother is “expect the unexpected”, so sometimes things get a little crazy and that can throw a wrench into the rules. When this happens, the administrator will contact all participants in the pool with the accommodations to the rules as needed.</p>

    <p>Thanks for playing and GOOD LUCK!</p>
</div>
{% endblock %}
