{% load bootstrap_toolkit %}

<div class="well">
    <h4>
        <span class="team-name">
            {% if team.name %}{{ team.name }}{% else %}Your Alliance{% endif %}
        </span>
        <small>
            <a href="#" class="set-team-name" data-api-url="{{ team.api_url }}">
                Set name
            </a>
        </small>
    </h4>
    <div class="change-team-name">
        <input type="text" name="name" placeholder="Alliance name" data-csrf-token="{{ csrf_token }}" value="{% if team.name %}{{ team.name }}{% endif %}" class="team-name-input">
    </div>
    {% if team.is_editable and team_form_set %}
    <form action="{% url "gameshow.views.team_detail" gameshow.slug %}" method="post" class="form-inline" id="team-form">
        {% csrf_token %}
        {{ team_form_set.management_form }}
        {% for form in team_form_set %}
            {{ form|as_bootstrap }}
        {% endfor %}
        <input type="submit" class="btn btn-primary" value="Save">
    </form>
    {% else %}
    <ul id="team-list">
        {% for member in team.contestants.all %}
        <li class="{% if not member.is_active %}in{% endif %}active">
            {{ member }}
        </li>
        {% empty %}
        <li>There is no one on your team.</li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
