{% load bootstrap_toolkit %}

<div class="well">
    <h3>Your Alliance</h3>
    {% if team.is_editable and team_form_set %}
    <form action="{% url "gameshow.views.team_detail" gameshow.slug %}" method="post" class="form-inline" id="team-form">
        {% csrf_token %}
        {{ team_form_set.management_form }}
        {% for form in team_form_set %}
            {{ form|as_bootstrap }}
        {% endfor %}
        <input type="submit" class="btn btn-primary" value="Save">
    </form>
    {% else %}
    <ul id="team-list">
        {% for member in team.contestants.all %}
        <li class="{% if not member.is_active %}in{% endif %}active">
            {{ member }}
        </li>
        {% empty %}
        <li>There is no one on your team.</li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
