{% extends "base.html" %}

{% load bootstrap_toolkit %}

{% block "content" %}
<div class="span6">
    <h2>Team</h2>
    {% if form_set %}
    <form action="{% url gameshow.views.team_detail %}" method="post" class="form-horizontal">
        {% csrf_token %}
        {{ form_set.management_form }}
        {% for form in form_set %}
        {{ form|as_bootstrap }}
        {% endfor %}
        <div class="form-actions">
            <input class="btn btn-primary" type="submit" value="Save" />
            <a href="{% url gameshow.views.dashboard %}" class="btn">Cancel</a>
        </div>
    </form>
    {% else %}
    <ul>
        {% for member in team.contestants.all %}
        <li>{{ member }}</li>
        {% empty %}
        <li>There is no one on your team.</li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
{% endblock %}
