{% extends "base.html" %}

{% block "extra_title" %}{{ contestant }} | {% endblock %}

{% block "content" %}
    <h2>{{ contestant }} - {{ contestant.gameshow }}</h2>
    <p>From the gameshow <a href="{% url gameshow.views.gameshow_detail pk=contestant.gameshow.pk %}">{{ contestant.gameshow }}</a></p>
    <h2>Events</h2>
    <ul>
        {% for event in contestant.events.all %}
            <li><a href="{% url gameshow.views.event_detail pk=event.pk %}">{{ event }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
