{% extends "base.html" %}

{% block "extra_title" %}{{ event }} | {% endblock %}

{% block "content" %}
    <h1>{{ event }}</h1>
    <p>From the gameshow <a href="{% url gameshow.views.gameshow_detail pk=event.gameshow.pk %}">{{ event.gameshow }}</a></p>
    <h2>Contestants</h2>
    <ul>
        {% for contestant in event.contestants.all %}
            <li><a href="{% url gameshow.views.contestant_detail pk=contestant.pk %}">{{ contestant }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
