{% extends "base.html" %}

{% block "extra_title" %}{{ gameshow }} | {% endblock %}

{% block "content" %}
    <h1>{{ gameshow }}</h1>
    <h2>Contestants</h2>
    <ul>
        {% for contestant in gameshow.contestants.all %}
            <li><a href="{% url gameshow.views.contestant_detail pk=contestant.pk %}">{{ contestant }}</a></li>
        {% endfor %}
    </ul>
    <h2>Events</h2>
    <ul>
        {% for event in gameshow.events.all %}
            <li><a href="{% url gameshow.views.event_detail pk=event.pk %}">{{ event }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
