{% extends "base.html" %}
{% load gameshow_tags %}

{% block "content" %}
<p><a href="{% url gameshow.views.dashboard %}">Back</a></p>
<div class="object-detail">
<h2>Points</h2>

{% for prediction in everything %}
<h3>{{ prediction.prediction.event_name }} - {{ prediction.prediction.event_date }}</h3>
<table class="points-table">
    <tr>
        <th>Player</th>
        <th>Prediction Points</th>
        <th>Team Points</th>
        <th>Event Points</th>
        <th>Old Total Points</th>
        <th>New Total Points</th>
    </tr>
    {% for user, points in prediction.users.items %}
    <tr>
        <td>{{ user.username }}</td>
        <td class="right-align">{{ points.prediction_points }}</td>
        <td class="right-align">{{ points.team_points }}</td>
        <td class="right-align">{{ points.event_points }}</td>
        <td class="right-align">{{ points.old_total_points }}</td>
        <td class="right-align">{{ points.new_total_points }}</td>
    </tr>
    {% endfor %}
</table>
{% endfor %}
</div>
{% endblock %}
