{% extends "base.html" %}
{% load gameshow_tags %}

{% block "content" %}
<div class="span12">
    <h2>Points</h2>

    {% for prediction in everything %}
    <h3>{{ prediction.prediction.event_name }} - {{ prediction.prediction.event_date }}</h3>
    <table class="table table-striped">
        <tr>
            <th>Player</th>
            <th class="table-numerical">Prediction Points</th>
            <th class="table-numerical">Team Points</th>
            <th class="table-numerical">Event Points</th>
            <th class="table-numerical">Old Total Points</th>
            <th class="table-numerical">New Total Points</th>
        </tr>
        {% for user, points in prediction.users.items %}
        <tr>
            <td>{{ user.username }}</td>
            <td class="table-numerical">{{ points.prediction_points }}</td>
            <td class="table-numerical">{{ points.team_points }}</td>
            <td class="table-numerical">{{ points.event_points }}</td>
            <td class="table-numerical">{{ points.old_total_points }}</td>
            <td class="table-numerical">{{ points.new_total_points }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endfor %}
</div>
{% endblock %}
