{% extends "base.html" %}

{% block "content" %}
<p><a href="{% url gameshow.views.dashboard %}">Back</a></p>
<div class="object-detail">
    <h2>Team</h2>
    {% if form_set %}
    <form action="{% url gameshow.views.team_detail %}" method="post">
        {% csrf_token %}
        <ul class="object-list">
            {{ form_set.as_ul }}
            <li><input type="submit" value="Save" /></li>
        </ul>
    </form>
    {% else %}
    <ul>
        {% for member in team.contestants.all %}
        <li>{{ member }}</li>
        {% empty %}
        <li>There is no one on your team.</li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
{% endblock %}
