<!DOCTYPE HTML>
<html>
<head>
    <title>{% block "extra_title" %}{% endblock %}BigBrother</title>
    <link rel="stylesheet" type="text/css" href="/static/css/base.css" />
    {% block "head" %}{% endblock %}
</head>
<body>
    <div id="content">
        {% if user.is_authenticated %}
        <p class="header">
            Welcome {{ user }}. Not you?
            <a href="{% url django.contrib.auth.views.logout_then_login %}">
            Logout</a> |
            <a href="{% url django.contrib.auth.views.password_change %}">
            Change password</a> |
            <a href="/bigbrother/rules/">Rules</a>
        </p>
        {% endif %}
        <h1>Big Brother Season 13</h1>
        {% include "messages.html" %}
        {% block "content" %}{% endblock %}
    </div>
</body>
</html>
