{% load compress %}
<!DOCTYPE HTML>
<html>
<head>
    <title>{% block "extra_title" %}{% endblock %}BigBrother</title>
    {% compress css %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/dashboard.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/base.css">
    {% endcompress %}
    {% block "head" %}{% endblock %}
</head>
<body>
    <div id="content">
        {% if user.is_authenticated %}
        <p class="header">
            Welcome {{ user }}. Not you?
            <a href="{% url django.contrib.auth.views.logout_then_login %}">
            Logout</a> |
            <a href="{% url django.contrib.auth.views.password_change %}">
            Change password</a> |
            <a href="/bigbrother/rules/">Rules</a> |
            <a href="{% url gameshow.views.points_detail %}">Points</a>
        </p>
        {% endif %}
        <h1>{{ gameshow }}</h1>
        {% include "messages.html" %}
        {% block "content" %}{% endblock %}
    </div>
</body>
</html>
